{% extends "blog/base.html" %}
{% block content %}
    

    <h1>About TwowheelerModerator</h1>
                        <p>We are leading in the 2 wheeler service fields.</p>
  <div class="content">

    <p>
      Founded in 2018, two wheeler moderator is the first ever bike-portal in India. TwowheelerModerator offers a veritable platform that deals with Used Bikes acts as a knowledge hub for everything related to two-wheelers. We also strive to give expert advice to our users on their queries,  provide information regarding insurance and loan, generate original test drive reviews, disseminate news about new bike launches, helps to locate Bike Dealers of used bikes and a lot more.
    </p>

    <h3 class="ornBorder">Our Mission</h3>
    <p qstyle="padding-left:20px;">
      To simplify the whole concept of trading pre-owned bikes and owning new bikes.
      <br />
      To become a one-stop platform for the trade of used bikes  and serve as information hub to take wise decisions.
    </p>

    <br />

    <p>
      The whole system of trading used bikes worked in a complex and tardy manner owing to the huge information gap that existed between the supply and demand sides of pre-owned bikes. TwowheelerModerator came into picture to fill this void, by creating an extremely easy, quick, user-friendly and trustworthy platform that met the demands of both sellers and buyers to trade their bikes.
    </p>



                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="alazea-benefits-area">
                        <div class="row">
                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <h5><b>Quality Products</b></h5>
                                    <p>We give customer satisfaction with good quality of products</p>
                                </div>
                            </div>

                            <!-- Single Benefits Area -->
                            <div class="col-12 col-sm-6">
                                <div class="single-benefits-area">
                                    <h5>Perfect Service</h5>
                                    <p>People work 24*7 for a perfect serive to customers</p>
                                </div>
                            </div>

                              </div>
							  
							   <div class="row">
							   
							          <a href="shop-details.html"><img src="img/bg-img/09bikes1.jpg" alt=""></a>
							   </div>
							  
							  
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
